# used for Elixir app configuration running in Heroku

DATABASE_URL=ecto://username:password@hostname/geolocation_service
SECRET_KEY_BASE=secret-key
GEOLOCATION_SERVICE_DB_POOL_SIZE=10

GEOLOCATION_SERVICE_DEVDB_USERNAME=postgres
GEOLOCATION_SERVICE_DEVDB_PASSWORD=postgres
GEOLOCATION_SERVICE_DEVDB_DATABASE=geolocation_service_dev
GEOLOCATION_SERVICE_DEVDB_HOSTNAME=127.0.0.1
GEOLOCATION_SERVICE_DEVDB_PORT=5432
GEOLOCATION_SERVICE_DEVDB_POOL_SIZE=8

GEOLOCATION_SERVICE_TESTDB_USERNAME=postgres
GEOLOCATION_SERVICE_TESTDB_PASSWORD=postgres
GEOLOCATION_SERVICE_TESTDB_DATABASE=geolocation_service_test
GEOLOCATION_SERVICE_TESTDB_HOSTNAME=127.0.0.1
GEOLOCATION_SERVICE_TESTDB_PORT=5432
